<plugin name='ooog' version='0.2' grailsVersion='2.0 &gt; *'>
  <author>Oscar Konno Sampaio</author>
  <authorEmail>oscarks@gmail.com</authorEmail>
  <title>Open Object On Grails Plugin</title>
  <description>Implements access to OpenERP Open Objects like Gorm Domain objects in Grails
</description>
  <documentation>http://grails.org/plugin/ooog</documentation>
  <type>OoogGrailsPlugin</type>
  <resources>
    <resource>ApplicationResources</resource>
    <resource>BootStrap</resource>
    <resource>spring.resources</resource>
    <resource>AccountAccount</resource>
    <resource>AccountAccountTemplate</resource>
    <resource>AccountAccountType</resource>
    <resource>AccountAddtmplWizard</resource>
    <resource>AccountAgedTrialBalance</resource>
    <resource>AccountAnalyticAccount</resource>
    <resource>AccountAnalyticBalance</resource>
    <resource>AccountAnalyticChart</resource>
    <resource>AccountAnalyticCostLedger</resource>
    <resource>AccountAnalyticCostLedgerJournalReport</resource>
    <resource>AccountAnalyticInvertedBalance</resource>
    <resource>AccountAnalyticJournal</resource>
    <resource>AccountAnalyticJournalReport</resource>
    <resource>AccountAnalyticLine</resource>
    <resource>AccountAutomaticReconcile</resource>
    <resource>AccountBalanceReport</resource>
    <resource>AccountBankAccountsWizard</resource>
    <resource>AccountBankStatement</resource>
    <resource>AccountBankStatementLine</resource>
    <resource>AccountCashboxLine</resource>
    <resource>AccountCentralJournal</resource>
    <resource>AccountChangeCurrency</resource>
    <resource>AccountChart</resource>
    <resource>AccountChartTemplate</resource>
    <resource>AccountCommonAccountReport</resource>
    <resource>AccountCommonJournalReport</resource>
    <resource>AccountCommonPartnerReport</resource>
    <resource>AccountCommonReport</resource>
    <resource>AccountEntriesReport</resource>
    <resource>AccountFinancialReport</resource>
    <resource>AccountFiscalPosition</resource>
    <resource>AccountFiscalPositionAccount</resource>
    <resource>AccountFiscalPositionAccountTemplate</resource>
    <resource>AccountFiscalPositionTax</resource>
    <resource>AccountFiscalPositionTaxTemplate</resource>
    <resource>AccountFiscalPositionTemplate</resource>
    <resource>AccountFiscalyear</resource>
    <resource>AccountFiscalyearClose</resource>
    <resource>AccountFiscalyearCloseState</resource>
    <resource>AccountGeneralJournal</resource>
    <resource>AccountInstaller</resource>
    <resource>AccountInvoice</resource>
    <resource>AccountInvoiceCancel</resource>
    <resource>AccountInvoiceConfirm</resource>
    <resource>AccountInvoiceLine</resource>
    <resource>AccountInvoiceRefund</resource>
    <resource>AccountInvoiceReport</resource>
    <resource>AccountInvoiceTax</resource>
    <resource>AccountJournal</resource>
    <resource>AccountJournalColumn</resource>
    <resource>AccountJournalPeriod</resource>
    <resource>AccountJournalSelect</resource>
    <resource>AccountJournalView</resource>
    <resource>AccountModel</resource>
    <resource>AccountModelLine</resource>
    <resource>AccountMove</resource>
    <resource>AccountMoveBankReconcile</resource>
    <resource>AccountMoveJournal</resource>
    <resource>AccountMoveLine</resource>
    <resource>AccountMoveLineReconcile</resource>
    <resource>AccountMoveLineReconcileSelect</resource>
    <resource>AccountMoveLineReconcileWriteoff</resource>
    <resource>AccountMoveLineUnreconcileSelect</resource>
    <resource>AccountMoveReconcile</resource>
    <resource>AccountOpenClosedFiscalyear</resource>
    <resource>AccountPartnerBalance</resource>
    <resource>AccountPartnerLedger</resource>
    <resource>AccountPartnerReconcileProcess</resource>
    <resource>AccountPaymentTerm</resource>
    <resource>AccountPaymentTermLine</resource>
    <resource>AccountPeriod</resource>
    <resource>AccountPeriodClose</resource>
    <resource>AccountPrintJournal</resource>
    <resource>AccountReportGeneralLedger</resource>
    <resource>AccountSequenceFiscalyear</resource>
    <resource>AccountStateOpen</resource>
    <resource>AccountStatementFromInvoice</resource>
    <resource>AccountStatementFromInvoiceLines</resource>
    <resource>AccountSubscription</resource>
    <resource>AccountSubscriptionGenerate</resource>
    <resource>AccountSubscriptionLine</resource>
    <resource>AccountTax</resource>
    <resource>AccountTaxChart</resource>
    <resource>AccountTaxCode</resource>
    <resource>AccountTaxCodeTemplate</resource>
    <resource>AccountTaxTemplate</resource>
    <resource>AccountTreasuryReport</resource>
    <resource>AccountUnreconcile</resource>
    <resource>AccountUnreconcileReconcile</resource>
    <resource>AccountUseModel</resource>
    <resource>AccountVatDeclaration</resource>
    <resource>AccountVoucher</resource>
    <resource>AccountVoucherLine</resource>
    <resource>AccountVoucherUnreconcile</resource>
    <resource>AccountingReport</resource>
    <resource>ActionTraceability</resource>
    <resource>AerooAddPrintButton</resource>
    <resource>AerooPrintActions</resource>
    <resource>AerooPrintByAction</resource>
    <resource>AerooRemovePrintButton</resource>
    <resource>AnalyticEntriesReport</resource>
    <resource>BaseActionRule</resource>
    <resource>BaseCalendarInviteAttendee</resource>
    <resource>BaseLanguageExport</resource>
    <resource>BaseLanguageImport</resource>
    <resource>BaseLanguageInstall</resource>
    <resource>BaseModuleConfiguration</resource>
    <resource>BaseModuleData</resource>
    <resource>BaseModuleImport</resource>
    <resource>BaseModuleRecord</resource>
    <resource>BaseModuleRecordData</resource>
    <resource>BaseModuleRecordObjects</resource>
    <resource>BaseModuleSave</resource>
    <resource>BaseModuleUpdate</resource>
    <resource>BaseModuleUpgrade</resource>
    <resource>BaseSetupTerminology</resource>
    <resource>BaseUpdateTranslations</resource>
    <resource>BoardBoard</resource>
    <resource>BoardBoardLine</resource>
    <resource>BoardMenuCreate</resource>
    <resource>CalendarAlarm</resource>
    <resource>CalendarAttendee</resource>
    <resource>CalendarEvent</resource>
    <resource>CalendarTodo</resource>
    <resource>CrmAddNote</resource>
    <resource>CrmCaseCateg</resource>
    <resource>CrmCaseChannel</resource>
    <resource>CrmCaseResourceType</resource>
    <resource>CrmCaseSection</resource>
    <resource>CrmCaseStage</resource>
    <resource>CrmLead</resource>
    <resource>CrmLead2opportunityPartner</resource>
    <resource>CrmLead2opportunityPartnerMass</resource>
    <resource>CrmLead2partner</resource>
    <resource>CrmLeadReport</resource>
    <resource>CrmMakeSale</resource>
    <resource>CrmMeeting</resource>
    <resource>CrmMergeOpportunity</resource>
    <resource>CrmOpportunity2phonecall</resource>
    <resource>CrmPartner2opportunity</resource>
    <resource>CrmPhonecall</resource>
    <resource>CrmPhonecall2opportunity</resource>
    <resource>CrmPhonecall2partner</resource>
    <resource>CrmPhonecall2phonecall</resource>
    <resource>CrmPhonecallReport</resource>
    <resource>CrmSegmentation</resource>
    <resource>CrmSegmentationLine</resource>
    <resource>DecimalPrecision</resource>
    <resource>EdiDocument</resource>
    <resource>EmailTemplate</resource>
    <resource>EmailTemplatePreview</resource>
    <resource>FetchmailServer</resource>
    <resource>IrActionsActWindow</resource>
    <resource>IrActionsActWindowClose</resource>
    <resource>IrActionsActWindowView</resource>
    <resource>IrActionsActions</resource>
    <resource>IrActionsClient</resource>
    <resource>IrActionsConfigurationWizard</resource>
    <resource>IrActionsReportXml</resource>
    <resource>IrActionsServer</resource>
    <resource>IrActionsTodo</resource>
    <resource>IrActionsTodoCategory</resource>
    <resource>IrActionsUrl</resource>
    <resource>IrActionsWizard</resource>
    <resource>IrAttachment</resource>
    <resource>IrConfigParameter</resource>
    <resource>IrCron</resource>
    <resource>IrDefault</resource>
    <resource>IrExports</resource>
    <resource>IrExportsLine</resource>
    <resource>IrFilter</resource>
    <resource>IrMailServer</resource>
    <resource>IrModel</resource>
    <resource>IrModelAccess</resource>
    <resource>IrModelData</resource>
    <resource>IrModelFields</resource>
    <resource>IrModuleCategory</resource>
    <resource>IrModuleModule</resource>
    <resource>IrModuleModuleDependency</resource>
    <resource>IrModuleRecord</resource>
    <resource>IrProperty</resource>
    <resource>IrRule</resource>
    <resource>IrSequence</resource>
    <resource>IrSequenceType</resource>
    <resource>IrServerObjectLines</resource>
    <resource>IrTranslation</resource>
    <resource>IrUiMenu</resource>
    <resource>IrUiView</resource>
    <resource>IrUiViewCustom</resource>
    <resource>IrUiViewSc</resource>
    <resource>IrValues</resource>
    <resource>IrWizardScreen</resource>
    <resource>MailComposeMessage</resource>
    <resource>MailMessage</resource>
    <resource>MailMessageCommon</resource>
    <resource>MailThread</resource>
    <resource>MaintenanceContract</resource>
    <resource>MakeProcurement</resource>
    <resource>MigradeApplicationInstallerModules</resource>
    <resource>MrpProperty</resource>
    <resource>MrpPropertyGroup</resource>
    <resource>MultiCompanyDefault</resource>
    <resource>OpenacademyAttendee</resource>
    <resource>OpenacademyAttendeeMemory</resource>
    <resource>OpenacademyCourse</resource>
    <resource>OpenacademyCreateAttendeeWizard</resource>
    <resource>OpenacademySession</resource>
    <resource>OsvMemoryAutovacuum</resource>
    <resource>PartnerClearIds</resource>
    <resource>PartnerMassmailWizard</resource>
    <resource>PartnerSmsSend</resource>
    <resource>PartnerWizardEanCheck</resource>
    <resource>PricelistPartnerinfo</resource>
    <resource>ProcessCondition</resource>
    <resource>ProcessNode</resource>
    <resource>ProcessProcess</resource>
    <resource>ProcessTransition</resource>
    <resource>ProcessTransitionAction</resource>
    <resource>ProcurementOrder</resource>
    <resource>ProcurementOrderCompute</resource>
    <resource>ProcurementOrderComputeAll</resource>
    <resource>ProcurementOrderpointCompute</resource>
    <resource>ProductCategory</resource>
    <resource>ProductInstaller</resource>
    <resource>ProductPackaging</resource>
    <resource>ProductPriceList</resource>
    <resource>ProductPriceType</resource>
    <resource>ProductPricelist</resource>
    <resource>ProductPricelistItem</resource>
    <resource>ProductPricelistType</resource>
    <resource>ProductPricelistVersion</resource>
    <resource>ProductProduct</resource>
    <resource>ProductSupplierinfo</resource>
    <resource>ProductTemplate</resource>
    <resource>ProductUl</resource>
    <resource>ProductUom</resource>
    <resource>ProductUomCateg</resource>
    <resource>ProjectAccountAnalyticLine</resource>
    <resource>PublisherWarrantyContract</resource>
    <resource>PublisherWarrantyContractWizard</resource>
    <resource>ReportAccountReceivable</resource>
    <resource>ReportAccountSales</resource>
    <resource>ReportAccountTypeSales</resource>
    <resource>ReportAgedReceivable</resource>
    <resource>ReportInvoiceCreated</resource>
    <resource>ReportMimetypes</resource>
    <resource>ReportStockInventory</resource>
    <resource>ReportStockLinesDate</resource>
    <resource>ReportStockMove</resource>
    <resource>ReportStylesheets</resource>
    <resource>ResAlarm</resource>
    <resource>ResBank</resource>
    <resource>ResCompany</resource>
    <resource>ResConfig</resource>
    <resource>ResConfigInstaller</resource>
    <resource>ResCountry</resource>
    <resource>ResCountryState</resource>
    <resource>ResCurrency</resource>
    <resource>ResCurrencyRate</resource>
    <resource>ResCurrencyRateType</resource>
    <resource>ResGroups</resource>
    <resource>ResLang</resource>
    <resource>ResLog</resource>
    <resource>ResLogReport</resource>
    <resource>ResPartner</resource>
    <resource>ResPartnerAddress</resource>
    <resource>ResPartnerBank</resource>
    <resource>ResPartnerBankType</resource>
    <resource>ResPartnerBankTypeField</resource>
    <resource>ResPartnerCategory</resource>
    <resource>ResPartnerEvent</resource>
    <resource>ResPartnerTitle</resource>
    <resource>ResPayterm</resource>
    <resource>ResRequest</resource>
    <resource>ResRequestHistory</resource>
    <resource>ResRequestLink</resource>
    <resource>ResUsers</resource>
    <resource>ResWidget</resource>
    <resource>ResWidgetUser</resource>
    <resource>ResWidgetWizard</resource>
    <resource>ResourceCalendar</resource>
    <resource>ResourceCalendarAttendance</resource>
    <resource>ResourceCalendarLeaves</resource>
    <resource>ResourceResource</resource>
    <resource>SaleAdvancePaymentInv</resource>
    <resource>SaleConfigPickingPolicy</resource>
    <resource>SaleMakeInvoice</resource>
    <resource>SaleOpenInvoice</resource>
    <resource>SaleOrder</resource>
    <resource>SaleOrderLine</resource>
    <resource>SaleOrderLineMakeInvoice</resource>
    <resource>SaleReceiptReport</resource>
    <resource>SaleReport</resource>
    <resource>SaleShop</resource>
    <resource>StockChangeProductQty</resource>
    <resource>StockChangeStandardPrice</resource>
    <resource>StockFillInventory</resource>
    <resource>StockIncoterms</resource>
    <resource>StockInventory</resource>
    <resource>StockInventoryLine</resource>
    <resource>StockInventoryLineSplit</resource>
    <resource>StockInventoryLineSplitLines</resource>
    <resource>StockInventoryMerge</resource>
    <resource>StockInvoiceOnshipping</resource>
    <resource>StockJournal</resource>
    <resource>StockLocation</resource>
    <resource>StockLocationProduct</resource>
    <resource>StockMove</resource>
    <resource>StockMoveConsume</resource>
    <resource>StockMoveScrap</resource>
    <resource>StockMoveSplit</resource>
    <resource>StockMoveSplitLines</resource>
    <resource>StockPartialMove</resource>
    <resource>StockPartialMoveLine</resource>
    <resource>StockPartialPicking</resource>
    <resource>StockPartialPickingLine</resource>
    <resource>StockPicking</resource>
    <resource>StockProductionLot</resource>
    <resource>StockProductionLotRevision</resource>
    <resource>StockReportProdlots</resource>
    <resource>StockReportTracklots</resource>
    <resource>StockReturnPicking</resource>
    <resource>StockReturnPickingMemory</resource>
    <resource>StockSplitInto</resource>
    <resource>StockTracking</resource>
    <resource>StockWarehouse</resource>
    <resource>StockWarehouseOrderpoint</resource>
    <resource>TempRange</resource>
    <resource>UserPreferencesConfig</resource>
    <resource>ValidateAccountMove</resource>
    <resource>ValidateAccountMoveLines</resource>
    <resource>WizardIrModelMenuCreate</resource>
    <resource>WizardIrModelMenuCreateLine</resource>
    <resource>WizardMultiChartsAccounts</resource>
    <resource>Workflow</resource>
    <resource>WorkflowActivity</resource>
    <resource>WorkflowInstance</resource>
    <resource>WorkflowTransition</resource>
    <resource>WorkflowTriggers</resource>
    <resource>WorkflowWorkitem</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='org.codehaus.groovy' name='groovy-xmlrpc' version='0.8' />
    </runtime>
  </dependencies>
  <plugins>
    <runtime>
      <plugin group='org.grails.plugins' name='hibernate' version='2.0.4' />
      <plugin group='org.grails.plugins' name='jquery' version='1.7.1' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.0.4' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>